{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>Inicio</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sistema biblioteca</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="crear_fisico/">Crear Fisico</a></li>
                    <li><a href="crear_digital/">Crear Digital</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {%block content%}

            <div class="libros_fisicos">
                <h2>Libros Físicos</h2>
                <ul class="sep">
                    <li>Titulo</li>
                    <li>Autor</li>
                    <li>Año de publicacion</li>
                    <li>Numero de Paginas</li>
                </ul>
                <ul>
                    {% for libro in libros_fisicos %}
                    <li class="libro_card">
                        <p>{{ libro.titulo }}</p>
                        <br />
                        <p>{{ libro.autor }}</p>
                        <br />
                        <p>{{ libro.anio_publicacion }}</p>
                        <br />
                        <p>{{ libro.num_paginas }}</p>
                        <br />
                    </li>
                    {% empty %}
                    <li>No hay libros físicos disponibles.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="libros_digitales">
                <h2>Libros Digitales</h2>
                <ul class="sep">
                    <li>Titulo</li>
                    <li>Autor</li>
                    <li>Año de publicacion</li>
                    <li>Tamaño</li>
                    <li>Formato</li>
                </ul>
                <ul>
                    {% for libro in libros_digitales %}
                    <li class="libro_card">
                        <p>{{ libro.titulo }}</p>
                        <br />
                        <p>{{ libro.autor }}</p>
                        <br />
                        <p>{{ libro.anio_publicacion }}</p>
                        <br />
                        <p>{{ libro.tamanio_mb }} MB</p>
                        <br />
                        <p>{{ libro.formato }}</p>
                        <br />
                    </li>
                    {% empty %}
                    <li>No hay libros digitales disponibles.</li>
                    {% endfor %}
                </ul>
            </div>

            {%endblock%}
        </main>

        <footer>
            <p>&copy;2024. Todos los derechos reservados. Sistema Biblioteca</p>
        </footer>
    </body>
</html>
